# Python
*.pyc
db.sqlite3
/api/staticfiles
/organogram/staticfiles

# JavaScript
node_modules
dist
dist-ssr
*.local
coverage
.eslintcache
.nvmrc
*.code-workspace
*.log
*.tsbuildinfo
.xnr
!.scripts

# General
.DS_Store
.env
