# Python
*.pyc
db.sqlite3

# JavaScript
node_modules
dist
dist-ssr
*.local
coverage
.eslintcache
.nvmrc
*.code-workspace
.keystone/admin
web/.keystone/admin
keystone.db
*.log
*.tsbuildinfo
!.scripts

# General
.DS_Store
