{% from 'macros.html' import select, input %}

{% extends "base.html" %}

{% block content %}

  <main class="card-panel">

    <header>
      <h1>Upload a photo</h1>
    </header>

    <h4>If you would like a photo of yourself to appear on the Digital Organogram, upload it here</h4>

    <form method="POST">

      <input type="file" id="myFile" name="filename">

      <div class="buttons">
        <a class="btn waves-effect waves-light btn-small" href="{{prev_url}}">
          Back
        </a>
        <button class="btn waves-effect waves-light" type="submit" name="action" value="continue">
          Continue
        </button>
      </div>

    </form>

  </main>

{% endblock content %}
