{% from 'macros.html' import radios %}

{% extends "base.html" %}

{% block content %}

  <main class="card-panel">

    <header>
      <h1>Primary Profession</h1>
    </header>

    <h2>Select the profession that is your main one</h2>

    <form method="POST">

      {{csrf_input}}

      {{radios(form, 'primary_profession', selected_professions)}}

      <div class="buttons">
        <a class="btn waves-effect waves-light btn-small" href="{{prev_url}}">
          Back
        </a>
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Continue
        </button>
      </div>

    </form>

  </main>

{% endblock content %}
