{% from 'macros.html' import input %}

{% extends "base.html" %}

{% block content %}

  <main class="card-panel">
    {{csrf_input}}

    <header>
      <h1>Your details</h1>
    </header>

    <p>Please enter the details for the role you are currently operating in</p>

    <form method="POST">

      {{csrf_input}}

      <div class="row">
        {{input(form, name='first_name', label='First name')}}
      </div>

      <div class="row">
        {{input(form, name='last_name', label='Last name')}}
      </div>

      <div class="row">
        {{input(form, name='job_title', label='Job title')}}
      </div>

      <div class="row">
        {{input(form, name='line_manager_email', label='Line manager email')}}
      </div>

      <div class="buttons">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Continue
        </button>
      </div>

    </form>

  </main>
{% endblock content %}
